body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #a3b18a;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #dad7cd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
}

h1, h2 {
  color: #588157;
}
input[type="text"], button {
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: auto;
  background-color: #344e41;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

button:hover {
  background-color: #344e41;
}

.results, #messages {
  text-align: left;
  margin-top: 20px;
}

.back-link, .end-chat {
  color: #eff9f4;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.back-link:hover, .end-chat:hover {
  color: #d6d8d7;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.eco-label-image {
  width: 150px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.image {
  display: block;
  align-items: center;
  align-content: center;
  text-align: center;
}

.image img {
  padding: 10px;
  box-shadow: none;
  border: none;
}

.ecolabels {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}